<ion-header>
	<ion-navbar>
		<ion-title>
			<!-- <span>
                <ion-icon name="md-share"></ion-icon>
            </span> -->
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
	<div class="profile-box">
		<div class="profile">
			<div class="profile-img">
				<img *ngIf="profile && profile.user.image_url" data-src="{{profile.user.image_url}}">
				<img *ngIf="!profile || !profile.user.image_url" src="assets/imgs/empty_dp.png">
			</div>

			<div class="profile_details">
				<h2>{{profile.user.name}}
					<ion-icon *ngIf="profile.is_verified == 1" name="checkmark-circle"></ion-icon>
					<span>{{profile.primary_category.title}}</span>
				</h2>
				<div class="other_details">
					<div class="text">
						<h2>
							{{profile.priceToShow}}
							<span text-center>/ {{profile.price_type | translate}}</span>
						</h2>
					</div>
					<div *ngIf="profile.distance && profile.distance != '-1'" class="text">
						<h2>
							{{profile.distance}} km
							<span text-center>{{'away_from_you' | translate}}</span>
						</h2>
					</div>
					<div class="text rating">
						<h2>
							{{profile.ratings}}
							<ion-icon name="star" class="text-green"></ion-icon>
							<span text-center>{{profile.ratingscount}} {{'rated_by' | translate}}</span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="btn_box d-flex">
			<button ion-button icon-start full class="btn message-btn text-thime" (click)="callProvider()">
				<ion-icon name="md-call"></ion-icon>
				{{'call' | translate}}
			</button>
			<button ion-button icon-start full class="btn message-btn text-thime" (click)="chatscreen()">
				<ion-icon name="md-text"></ion-icon>
				{{'message' | translate}}
			</button>
		</div>
		<ion-segment [(ngModel)]="plumber">
			<ion-segment-button value="about">
				{{'about' | translate}}
			</ion-segment-button>
			<ion-segment-button value="reviews">
				{{'reviews' | translate}}
			</ion-segment-button>
			<ion-segment-button value="portfolio">
				{{'portfolio' | translate}}
			</ion-segment-button>
		</ion-segment>
	</div>
	<div class="tab">
		<div [ngSwitch]="plumber" class="tab-container">
			<ion-list *ngSwitchCase="'about'" class="about">
				<p>{{profile.about}}</p>
				<div class="services">
					<h6 class="text-thime">
						{{'services' | translate}}
					</h6>
					<p *ngFor="let service of profile.subcategories">{{service.title}}</p>
				</div>
			</ion-list>

			<div *ngSwitchCase="'reviews'">
				<ion-list no-lines class="reviews">
					<div class="empty-view" *ngIf="(!reviews || !reviews.length)">
						<div style="text-align:center">
							<img src="assets/imgs/empty_reviews.png" alt="no offers" />
							<span style="color:#9E9E9E; font-weight:bold;">{{'no_reviews_to_show' | translate}}</span>
						</div>
					</div>
					<ion-item *ngFor="let review of reviews">
						<div class="reviews-details">
							<div class="review-img">
								<img *ngIf="review.user && review.user.image_url" data-src="{{review.user.image_url}}">
								<img *ngIf="!review.user || !review.user.image_url" src="assets/imgs/empty_dp.png">
							</div>
							<h2 class="text-ellipsis">
								{{review.user.name}}
								<br>
								<small class="text-green">
									{{review.rating}}
									<ion-icon name="star" class="text-green"></ion-icon>
								</small>
							</h2>
							<p class="text-ellipsis">{{review.created_at}} </p>
						</div>
						<p>{{review.review}}</p>
					</ion-item>
				</ion-list>
				<ion-infinite-scroll *ngIf="reviews && reviews.length" (ionInfinite)="doInfinite($event)">
					<ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>
			</div>

			<ion-list *ngSwitchCase="'portfolio'" no-lines class="portfolio">
				<div class="empty-view" *ngIf="!loadingPortfolios && (!portfolios || !portfolios.length)">
					<div style="text-align:center">
						<img src="assets/imgs/empty_reviews.png" alt="no offers" />
						<span style="color:#9E9E9E; font-weight:bold;">{{'no_portfolios_to_show' | translate}}</span>
					</div>
				</div>
				<div class="empty-view" *ngIf="loadingPortfolios">
					<div style="text-align:center">
						<!-- <img src="assets/imgs/empty_reviews.png" alt="no offers" /> -->
						<span style="color:#9E9E9E; font-weight:bold;">{{'loading' | translate}}</span>
					</div>
				</div>
				<ion-row>
					<ion-col col-6 *ngFor="let portfolio of portfolios">
						<div class="img_box" (click)="linkPortfolio(portfolio)">
							<img data-src="{{portfolio.image_url}}">
						</div>
					</ion-col>
				</ion-row>
			</ion-list>
		</div>
	</div>
</ion-content>
<ion-footer>
	<!--
    <ion-item class="add-item" (click)="booknow()">
        <h2 class="text-thime" text-center>
         {{'book_now' | translate}}
        </h2>
    </ion-item>
-->
	<button class="btn" ion-button full no-margin (click)="booknow()">
		<ion-icon name="checkmark-circle" text-start></ion-icon>
		{{'book_now' | translate}}
	</button>
</ion-footer>