page-add_address_title {
  .content {
    background: none !important;
  }

  .footer {
    background: $white-color;
    padding-top: 15px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);

    .form {
      max-width: calc(100% - 60px);

      .list {
        margin-bottom: 20px;

        .item {
          .item-inner {
            align-items: flex-start;
          }

          ion-icon {
            &[item-end] {
              margin: 0;
              color: $thime-color;
              font-size: 2rem;
              position: relative;
              top: 7px;
              height: 40px;
              min-width: 26px;
            }
          }
        }
      }
    }

    .button {
      &.btn {
        height: 53px;
        // font-size: 1.9rem;
        // background: $theme-color_green;
        font-size: 1.85rem;
        font-weight: 500;
      }
    }
  }
}
