<ion-header class="bg-thime">
    <ion-navbar>
        <ion-title>
            {{category.title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="providers" class="bg-light">
    <div class="empty-view" *ngIf="!isLoading && (!providers || !providers.length)">
        <div style="text-align:center">
            <img src="assets/imgs/empty_provider.png" alt="no offers" />
            <span style="color:#9E9E9E; font-weight:bold;">
                {{'empty_providers' | translate}}
            </span>
        </div>
    </div>
    <ion-list no-lines>
        <ion-item *ngFor="let profile of providers"
            [ngClass]="profile.advertisement && profile.advertisement==1 ? 'active' : ''"
            (click)="profileDetail(profile)">
            <ion-avatar item-start>
                <img *ngIf="profile && profile.user.image_url" data-src="{{profile.user.image_url}}">
                <img *ngIf="!profile || !profile.user.image_url" src="assets/imgs/empty_dp.png">
            </ion-avatar>
            <h2>
                <span class="text-ellipsis">
                    {{profile.user.name}}
                </span>
                <ion-icon *ngIf="profile.is_verified == 1" name="checkmark-circle"></ion-icon>
                <span class="text-grey small">
                    | {{profile.primary_category.title}}
                </span>
                <span class="ml-auto small text-green">{{profile.ratings}}
                    <ion-icon name="md-star"></ion-icon>
                    <small class="text-grey">({{profile.ratingscount}})</small>
                </span>
            </h2>
            <p class="text-grey">
                <span class="text-ellipsis">
                    {{profile.priceToShow}} / {{profile.price_type | translate}}
                </span>
                <span class="ml-auto text-ellipsis">{{profile.distance}} {{'k_away' | translate}}</span></p>
            <div class="ad">
                <p>{{'ad' | translate}}</p>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>